/*style the main section*/
.main-component-home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 0;
  height: 90vh;
}

.component-content{
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-end;
  text-align: end;
  height: 100%;
  justify-content: space-between;
}
  
/*style Calling Component
.name-calling-wrapper{
  height: 50%;
  #typing-effect{
  font-size: 1.75rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  margin-top: 5.25rem;
}
}*/


.calling-text{
  font-size: 1.75rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  margin-top: 5.25rem;
}

.additional-name {
  font-size: 1.875rem;
  color: brown;
}

.additional-name-hidd {
  visibility: hidden;
}