
/*--- Work Section ---*/
#projects{
    height: 800px;
  }
  
    /*-- ???? style the main project container --*/
  .component-content-project{
    width: 100%;
    margin-bottom: 1rem;
  }
    /*-- style the main project container --*/
  .projects-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  #333;
  }
  
  .project-header{
     display: flex;
     justify-content: space-between;
     padding-top: 1rem;
     width: 100%;
   }
   
   .project-header:hover{
     cursor: pointer;
   }
  
  
    /*-- style the collapsible container --*/
  .columns-projects{
      display: flex;
      justify-content: space-between;
      padding: 1rem 0 2rem 0;
    }
  
  .first-col-projects{
    display: flex;
    flex-direction: column  ;
    justify-content: space-between;
    text-align: left;
    width: 40%;
  }
  
  .sec-col-projects{
    display: flex;
    justify-content: end;
    width: 55%;
  }
  
  .text-description{
    font-size: 1.0625rem;
    line-height: 1.25rem;
  }
  
  .text-technologies{
    font-size: 1rem;
    font-weight: 400;
    border-top: 1px solid #8b8b8b;
    border-bottom: 1px solid #8b8b8b;
    width: 60%;
    padding: 8px 0;
    font-family: 'Roboto Mono', monospace;
  }
  
  .screen-shot{
    width: 100%;
    border-radius: 2px;
    background-color: #ededed;
    min-height: 400px;
    -webkit-box-shadow: -9px 7px 18px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 7px 18px -7px rgba(0,0,0,0.75);
    box-shadow: -9px 7px 18px -7px rgba(0,0,0,0.75);
  }
  
  .button-section{
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  
  .button-section a{
      text-decoration: none;
      width: 42%;
      display: flex;
      justify-content: center;
      background-color: #f8f8f8;
      border: 1px solid #333;
      border-radius: 2px;
      text-align: center;
      padding: 6px 8px;
      
  }
  .img-button{
    width: 16px;
  }
  
  .text-button{
    font-size: 0.75rem;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
    color: #020202;
    margin-left: 5px;
  }
  
  .button-section a:hover{
      background-color: #ededed;
      color: #ffffff;
      border: 1px solid black;
      border-radius: 2px;
    }
  
  /*--- END Work Section ---*/