*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  /*font-family: 'Poppins', sans-serif;*/
  /*font-family: 'Anonymous Pro', monospace;*/
}

.App {
  padding: 0px 3.75rem;
  display: flex;
  flex-direction: column;
}


#home, #contact, #skillset, #work {
  min-height: 650px;
  /*background-color: lightcoral;*/
  margin-bottom: 9rem;
  padding: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: flex-end;
  /* align-self: flex-end;*/
  justify-content: space-between;
}

#contact{
  margin-bottom: 0;
}

.component-content{
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: flex-end;
  text-align: end;
  height: 100%;
  justify-content: space-between;
 /* background-color: lightsalmon;*/
}

/*-- Typography --*/
h1, h2{
  text-transform: uppercase;
  font-size: 9.375rem;
  line-height: 9.375rem;
  color: #333;
}

h2{
  font-size: 9rem;
  margin-bottom: 2.5rem;
}

h1{
  width: 80%;
}

h4{
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #333;
  font-weight: 300;
}

h3{
  font-size: 2.25rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}




/*--- Home Section ---*/
  /*-- style the main section --*/
.container-home{
   /*display: lex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
 height: 100vh;
  margin-bottom: 9.375rem;
  text-align: end;*/
 
}


  
/*style Calling Component
.name-calling-wrapper{
  height: 50%;
  #typing-effect{
  font-size: 1.75rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  margin-top: 5.25rem;
}
}*/


.calling-text{
  font-size: 1.75rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  margin-top: 5.25rem;
}

.additional-name {
  font-size: 1.875rem;
  color: brown;
}

.additional-name-hidd {
  visibility: hidden;
}

.about-header-text{
  width: 70%;
  font-style: italic;
  margin: 1.25rem 0 2rem 0;
}






