*{
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  /*font-family: 'Poppins', sans-serif;*/
  /*font-family: 'Anonymous Pro', monospace;*/
}

.App {
  padding: 40px 50px;
}

/*style the main section, whitch is the same for every compoennt (navbar + component with the lists and content)*/
.main-component{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*height: 100vh;*/
}



.component-content{
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-end;
  text-align: end;
}

h1{
  text-transform: uppercase;
  font-size: 10vw;
  line-height: 10vw;
  color: #333;
  text-align: right;
}

